.title-heading{
    text-align: center;
    font-family: 'Rowdies', cursive;
    color:white;
    padding:10px;
    font-size: 100px;
    font-family: 'Anton', sans-serif;
    font-weight:1000;
    cursor:grab;
}
.image-1{
    height:800px;
    width: 800px;
}
body{
    background: url("https://image.shutterstock.com/image-illustration/3d-illustration-background-image-threedimensional-260nw-1457497799.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-img-2{
    float:right;
    height: 100px;
    margin-right: 300px;
    position: relative;
    bottom:130px;
}
.header-img-1{
    height:100px;
    border-radius: 50%;
    position: relative;
    bottom:130px;
    margin-left:100px;
}
.likes-div{
    display:none;
    height:500px;
    width: 500px;
    background-color: white;
    float: right;
    position: relative;
    bottom:30px;
    left:200px;
    border:5px solid black;
}
.header-anchor:hover+div{
    display:block;
}
.likes-div:hover{
    display:block;
}
.likes-div-heading{
    text-align: center;
    color:gold;
}
.slider-img{
    height:500px;
    width:70%;
    margin-left:200px;
}
.like-button{
    height:80px;
    margin-left: 700px;
    width:100px;
}
.like-button-img{
    height: 60px;
    width:90px;
}
.img-div button{
    height:70px;
    width:70px;
    margin-left: 50px;
    background-color: yellow;
    color:black;
}
.img-div{
    text-align: center;
}
.img-div img{
    height:300px;
    margin-left: 30px;
}
@media only screen and (min-width:360px){
.header-img-2{
    float:right;
    height: 100px;
    margin-right: 200px;
    position: relative;
    bottom:130px;
}
.like-button{
    width:100px;
}
}
